<div class="wrapper">
  <div  class=" mt-5 mb-5 container d-flex justify-content-center flex-column">
    <div class= "d-flex justify-content-center p-2">
      <h2>Post an Ad</h2>
    </div>
   <%= render "ad_form", ad: @ad %>
</div>
